@model PostModel
@*@using _90sTest.DAL
@inject IPostRepository postRepo*@

@using _90sTest.Data.Extension;
@{
    var IsUsersPost = Model.Post.User.Id.Equals(User.GetLoggedInUserId<string>());
    var UnLikeBlockOrNone = "none";
    var LikeBlockOrNone = "none";
    if (!IsUsersPost)
    {
        //var HasUserLikedPost = postRepo.HasUserLikedPost(Model.Post.PostId, User.GetLoggedInUserId<string>());
        var likePost = Model.Post.LikedPosts.Where(l => l.LikerId.Equals(User.GetLoggedInUserId<string>())).FirstOrDefault();
        var HasUserLikedPost = likePost != null;
        LikeBlockOrNone = !HasUserLikedPost ? "block" : "none";
        UnLikeBlockOrNone = HasUserLikedPost ? "block" : "none";
    }
}

<div class="card">
    <div class="card-header">
        @Model.Post.User.Name (<a asp-controller="Profile" asp-action="Index" asp-route-username=@Model.Post.User.UserName>@@@Model.Post.User.UserName</a>)
        
            <section class="dropright" style="float:right;">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ...
                </a>
                <div class="dropdown-menu">
                    @if (!IsUsersPost)
                    {
                        <a class="dropdown-item" asp-controller="Report" asp-action="PostReporting" asp-route-postid="@Model.Post.PostId">Report Post</a>
                    }
                        <a class="dropdown-item" asp-controller="Post" asp-action="Index" asp-route-postid="@Model.Post.PostId">View Post</a>
                    </div>
            </section>
        
    </div>
    <div class="card-body card-text">
        <p>
            @Model.Post.Content
        </p>
        <div class="d-flex justify-content-end mt-3">
            <time datetime="@Model.Post.Date.ToString()" date-format="">@Model.Post.Date.ToString()</time>
            &nbsp;
            <div><span id="@Model.Post.PostId-Likes">@Model.Post.Likes</span> Likes</div>
            &nbsp;
            @if (!IsUsersPost)
            {
                <button class="btn btn-sm mr-2 btn-primary border-dark" id="@Model.Post.PostId-LikeButton" onclick="likePost('@Model.Post.PostId')" style="display: @LikeBlockOrNone">Like</button>
                <button class="btn btn-sm mr-2 btn-primary border-dark" id="@Model.Post.PostId-UnLikeButton" onclick="unlikePost('@Model.Post.PostId')" style="display: @UnLikeBlockOrNone">Unlike</button>
            }
            else
            {
                <a class="btn btn-sm mr-2 btn-primary border-dark" asp-action="Delete" asp-controller="Home" asp-route-postid=@Model.Post.PostId>Delete</a>
            }
        </div>
    </div>
</div>

