@model FeedModel
@using _90sTest.Entities;

@{
    ViewData["Title"] = "Home";
}

@{ Html.Html5DateRenderingMode = Html5DateRenderingMode.Rfc3339; }

<div class="card card-tertiary">
    <div class="card-header WhiteHeader">
        New Post
    </div>
    <div class="card-body">
        <form asp-action="Submit" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-text">
                <label asp-for="NewPostContent">Scream into the void:</label>
                <br />
                <br />
                @Html.TextAreaFor(model => model.NewPostContent, new { @class = "form-control", @rows = 4 })
                <span asp-validation-for="NewPostContent" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-sm mr-2 btn-primary border-dark" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
<br />

<ul class="nav nav-tabs" id="homeTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent"
           role="tab" aria-controls="recent" aria-selected="true">Recent</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="hot-tab" data-toggle="tab" href="#hot"
           role="tab" aria-controls="hot" aria-selected="false">Hot</a>
    </li>
</ul>
<div class="card-border-0">
    <div class="card-body bg-secondary">
        <div class="tab-content bg-secondary" id="homeTabContent">
            <div class="tab-pane show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                @{
                    var prevDisabled = !Model.Posts.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Posts.HasNextPage ? "disabled" : "";
                }

                @foreach (Post post in Model.Posts)
                {
                    var postModel = new PostModel() { Post = post };

                    <partial name="_PostPartial" model="postModel" />
                    <br>
                }

                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.Posts.PageIndex - 1)"
                   class="btn btn-sm mr-2 btn-primary border-dark @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.Posts.PageIndex + 1)"
                   class="btn btn-sm mr-2 btn-primary border-dark @nextDisabled">
                    Next
                </a>

            </div>
            <div class="tab-pane" id="hot" role="tabpanel" aria-labelledby="hot-tab">
                @foreach (Post post in Model.HotPosts)
                {
                    var postModel = new PostModel() { Post = post };

                    <partial name="_PostPartial" model="postModel" />
                    <br>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_PostTimeScriptsPartial" />
    <partial name="_LikeAjax" />
}