@model ProfileModel
@using _90sTest.Data.Extension;
@{ ViewData["Title"] = "Profile"; }

<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-3" id="sidenav">
            <a class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" asp-controller="Home" asp-action="Index">Feed</a>
            <br>
            @{
                var ProfileParameters = new Dictionary<string, string>()
                                        {
                        { "username",  User.GetLoggedInUserName() }
                    };
            }
            <a class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" asp-controller="Profile" asp-action="Index" asp-all-route-data="ProfileParameters">Profile</a>
            <br>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton">
                    <span class="btn-text">Logout</span>
                </button>
            </form>
        </div>
        <div class="col-sm-9 mb-4 mb-lg-0 feed">
            <div class="card">
                <div class="card-header">
                    @Model.user.Name (@@@Model.user.UserName)
                </div>
                <div class="card-body">
                    <div>
                        This is where a users bio would go, need to add that.
                    </div>
                    <div>
                        Following: <a href="#">100</a>
                        <br />
                        Followers: <a href="#">100</a>

                    </div>
                </div>
            </div>
            <br />
            @foreach (_90sTest.Entities.Post post in Model.usersPosts)
            {

                <div class="card">
                    <div class="card-header">
                        @post.User.Name (@@@Model.user.UserName)
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @post.Content
                        </p>
                        <div class="d-flex justify-content-end mt-3">
                            <div>@post.Date.ToString()</div>
                            &nbsp;
                            <div>@post.Likes Likes</div>
                            &nbsp;
                            <button class="btn btn-sm mr-2 btn-primary border-dark" type="button">
                                <span class="btn-text">Like</span>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
            }
        </div>
    </div>
</div>
