@model ProfileModel
@using _90sTest.Data.Extension;
@{ ViewData["Title"] = "Profile"; }

<div class="container" style="margin-top:30px;">
    <div class="row">
        @{
            var navModel = new MainNavPartialViewModel { Username = User.GetLoggedInUserName() };
        }
        <partial name="_MainNav" model="navModel" />
        @{
            var IsUsersProfile = Model.User.Id.Equals(User.GetLoggedInUserId<string>());
        }
        <div class="col-sm-9 mb-4 mb-lg-0 feed">
            <div class="card">
                <div class="card-header">
                    @Model.User.Name (@@@Model.User.UserName)
                </div>
                <div class="card-body card-text">
                    <div id="ViewBio">
                        @Model.User.Bio
                    </div>
                    <div id="EditBio">
                        <form asp-action="EditBio" asp-controller="Profile">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            @Html.TextAreaFor(model => model.Bio, new { @class = "form-control", @rows = 4 })
                            <input asp-for="User.UserName" type="hidden" />

                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-sm mr-2 btn-primary border-dark" type="submit">Edit</button>
                            </div>
                        </form>
                    </div>
                    <br />
                    <div>
                        <span>Following: <a href="#">100</a></span>
                        <span>Followers: <a href="#">100</a></span>
                    </div>
                    @if (IsUsersProfile)
                    {
                        <div class="d-flex justify-content-end mt-3" id="EditButton">
                            <button class="btn btn-sm mr-2 btn-primary border-dark" onclick="toggleProfileForm()">Edit</button>
                        </div>
                    }
                </div>
            </div>
            <br />
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts"
                       role="tab" aria-controls="posts" aria-selected="true">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="likes-tab" data-toggle="tab" href="#likes"
                       role="tab" aria-controls="likes" aria-selected="false">Likes</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active" id="posts" role="tabpanel"
                     aria-labelledby="posts-tab">
                    @foreach (_90sTest.Entities.Post post in Model.UsersPosts)
                    {
                        var declineParams = new Dictionary<string, string>()
                                                {
                    { "postId", post.PostId.ToString() }
                };
                        <div class="card">
                            <div class="card-header">
                                @post.User.Name (@@@Model.User.UserName)
                            </div>
                            <div class="card-body card-text">
                                <p>
                                    @post.Content
                                </p>
                                <div class="d-flex justify-content-end mt-3">
                                    <div>@post.Date.ToString()</div>
                                    &nbsp;
                                    <div>@post.Likes Likes</div>
                                    &nbsp;
                                    @if (!IsUsersProfile)
                                    {
                                        <a class="btn btn-sm mr-2 btn-primary border-dark" asp-action="Like" asp-controller="Home" asp-all-route-data="declineParams">Like</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-sm mr-2 btn-primary border-dark" asp-action="Delete" asp-controller="Home" asp-all-route-data="declineParams">Delete</a>
                                    }

                                </div>

                            </div>
                        </div>
                        <br>
                    }
                </div>
                <div class="tab-pane" id="likes" role="tabpanel" aria-labelledby="likes-tab">
                    @if (Model.UserLikedPosts.Count != 0)
                    {
                        @foreach (_90sTest.Entities.Post post in Model.UserLikedPosts)
                        {
                            var IsUsersPost = post.User.Id.Equals(User.GetLoggedInUserId<string>());
                            var declineParams = new Dictionary<string, string>()
                                                {
                    { "postId", post.PostId.ToString() }
                };


                            <div class="card">
                                <div class="card-header">

                                    @post.User.Name (<a asp-controller="Profile" asp-action="Index" asp-route-username=@post.User.UserName>@@@post.User.UserName</a>)
                                    <div></div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        @post.Content
                                    </p>
                                    <div class="d-flex justify-content-end mt-3">
                                        <div>@post.Date.ToString()</div>
                                        &nbsp;
                                        <div>@post.Likes Likes</div>
                                        &nbsp;
                                        @if (!IsUsersPost)
                                        {
                                            <a class="btn btn-sm mr-2 btn-primary border-dark" asp-action="Like" asp-controller="Home" asp-all-route-data="declineParams">Like</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-sm mr-2 btn-primary border-dark" asp-action="Delete" asp-controller="Home" asp-all-route-data="declineParams">Delete</a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <br>
                        }
                    }
                    else
                    {
                        <p>This user has not liked any posts</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        document.getElementById('EditBio').style.display = 'none';
        document.getElementById('ViewBio').style.display = 'block';
        document.getElementById('EditButton').style.display = 'block';

    }

    function toggleProfileForm() {
        var x = document.getElementById("EditBio");
        var y = document.getElementById("ViewBio");
        var z = document.getElementById("EditButton");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none";
            y.style.display = "block";
            z.style.display = "block";
        }
    }
</script>

