@model PostsModel
@{
    ViewData["Title"] = "Home";
}

<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-3" id="sidenav">
            <a href="#">
                <button class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" type="button">
                    <span class="btn-text">Feed</span>
                </button>
            </a>
            <br>
            <a href="#">
                <button class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" type="button">
                    <span class="btn-text">Friends</span>
                </button>
            </a>
            <br>
            <a href="#">
                <button class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" type="button">
                    <span class="btn-text">Profile</span>
                </button>
            </a>
            <br>
            <a href="#">
                <button class="btn mr-2 mb-2 btn-primary border-dark sidenavbutton" type="button">
                    <span class="btn-text">Settings</span>
                </button>
            </a>
        </div>
        <div class="col-sm-9 mb-4 mb-lg-0 feed">
            <div class="card">
                <div class="card-header">
                    New Post
                </div>
                <div class="card-body">
                    <form>
                        <div class="card-text">
                            @Html.TextAreaFor(model => model.NewPost.Content, new { @class = "form-control", @rows = 4 })
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <input class="btn btn-sm mr-2 btn-primary border-dark" type="submit" value="Post"/>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            @foreach (_90sTest.Entities.Post post in Model.Posts)
            {

                <div class="card">
                    <div class="card-header">
                        @post.Creator.GetFullName() (<a href="profileRat">@@@post.Creator.Username</a>)
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            @post.Content
                        </p>
                        <div class="d-flex justify-content-end mt-3">
                            <div>@post.Date.ToString()</div>
                            &nbsp;
                            <div>@post.Likes Likes</div>
                            &nbsp;
                            <button class="btn btn-sm mr-2 btn-primary border-dark" type="button">
                                <span class="btn-text">Like</span>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
            }
        </div>
    </div>
</div>
